body {
    background-color: #ffcce6;
	margin-top: 70px;
	margin-left: 100px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	
	
}
	
head{
	text-align: center;
	text-decoration: underline;
}

	ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	}
	
li a {
    display: inline-block;
    width: 60px;
}

table#t1{
background-color: none;

}

table#t6, table#t7, {
background-color: #f0eeef;
border-style: ridge;
    border-width: 1px;
	text-align: center;
	

}


input[type=select], input[type=text]{
    background-color: none;
    border: none;
   
}
th {
background-color: #ff9cce;
border-collapse: collapse;
}
