
body {
    background-color: #ffcce6;
	margin-top: 100px;
	margin-left: 200px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	
	
}
	
	

	ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	}
	
li a {
    display: inline-block;
    width: 60px;
}


	






